form{
	width:600px; /*お好みで調整してください*/
	margin:0 auto;
}
p{
	border:solid 1px #000000;
}
.inputs{
	overflow: hidden;
	margin-bottom: 20px;
}
.label{
	float: left;
	margin-right: 20px;
	width:135px;
	border-left: solid 3px #FF6701;
	padding-left: 10px;
}
.input_form{
	float: left;
	width:300px;
}
input[type="text"],
input[type="number"],
input[type="email"],
textarea{
	border: solid 1px #e0e0e0;
	border-radius:5px;
	padding:8px;
	font-size: 15px;
}
textarea{
	height: 100px;
}
.btn-area{
	text-align: center;
}
input[type="submit"]{
	background: #FF6701;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}
input[type="reset"]{
	background: #aaa;
	border: none;
	color: #fff;
	font-size:15px;
	font-weight:bold;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 10px;
}